<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Antonio & Nohemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Boda de Antonio y Nohemi, invitacion digital.">
    <meta name="author" content="Antonio Escalante">
  
    <!-- Standard Favicon-->
    <link rel="shortcut icon" href="~/images/favicon/favicon.ico">
 

    <!-- Bootstrap CSS Files -->
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom Fonts Setup via Font-face CSS3 -->
    <link href="~/fonts/fonts.css" rel="stylesheet">
    <!-- CSS files for plugins -->
    <link href="~/stylesheets/animate.css" rel="stylesheet">
    <link href="~/stylesheets/slimmenu.css" rel="stylesheet">
    <link href="~/stylesheets/owl.carousel.css" rel="stylesheet">
    <link href="~/stylesheets/owl.theme.css" rel="stylesheet">
    <link href="~/stylesheets/venobox.css" rel="stylesheet" />
    <link href="~/stylesheets/slidingmenu.css" rel="stylesheet">
    <!-- Main Template Styles -->
    <link href="~/stylesheets/main.css" rel="stylesheet">
    <!-- Main Template BG Images -->
    <link href="~/stylesheets/main-bg.css" rel="stylesheet">
    <!-- Main Template Responsive Styles -->
    <link href="~/stylesheets/main-responsive.css" rel="stylesheet">
    <!-- Main Template Retina Optimizaton Rules -->
    <link href="~/stylesheets/main-retina.css" rel="stylesheet">
    <!-- LESS stylesheet for managing color presets -->
    <link rel="stylesheet" type="text/css" href="~/less/color.css">
    <!-- LESS JS engine-->
    <script src="~/less/less-1.5.0.min.js"></script>
    <!-- Google Web Fonts-->
    <link href='https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700' rel='stylesheet' type='text/css'>


</head>

<body>
    <!-- Preloader
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- mobile only navigation : starts -->
    <nav class="mobile-nav hidden-lg">
        <ul class="slimmenu">
            <li>
                <a class="#" href="index.html">Inicio</a>
            </li>
            <li>
                <a class="scroll" href="#timer">Contador</a>
            </li>
            <li>
                <a class="scroll" href="#about">Nosotros</a>
            </li>
            <li>
                <a class="scroll" href="#location">Ubicaciones</a>
            </li>
            <li>
                <a class="scroll" href="#team">Cortejo</a>
            </li>
            @if (ViewBag.Guests != null)
            {
                <li>
                    <a class="scroll" href="#news">Invitados</a>
                </li>
            }
        </ul>
    </nav>
    <!-- mobile only navigation : ends -->
    <!-- Master Wrap : starts -->
    <section id="mastwrap">

        <section id="intro" class="intro trans-dark">

            <!-- masthead-section (this nav bar is visible only on home page) : starts -->
            <header id="intro-header" class="intro-header visible-lg">
                <div class="container">
                    <div class="row">
                        <article class="col-md-3 text-left">
                            <img alt="odin" title="odin" class="main-logo img-responsive" src="~/images/logo-white.png" />
                        </article>
                        <article class="col-md-9 text-right">
                            <ul class="standard-nav standard-nav-white-text visible-lg">
                                <li><a href="#timer" class="scroll">Contador</a></li>
                                <li><a href="#about" class="scroll">Nosotros</a></li>
                                <li><a href="#location" class="scroll">Ubicaciones</a></li>
                                <li><a href="#team" class="scroll">Cortejo</a></li>
                                @if (ViewBag.Guests != null)
                                {
                                    <li><a href="#news" class="scroll">Invitados</a></li>
                                }
                            </ul>
                        </article>
                    </div>
                </div>
            </header>
            <!-- masthead-section:ends -->

            <div class="valign">

                <div id="intro-carousel" class="intro-carousel owl-carousel  owl-nav-sticky-wide">

                    <div class="item stats-carousel-item hero-caps  text-center">
                        <h1 class="white">Antonio</h1>
                    </div>
                    <!-- item:ends -->

                    <div class="item stats-carousel-item hero-caps  text-center">
                        <h1 class="white">&</h1>
                        <h6 class="white">01.10.22</h6>
                    </div>
                    <!-- item:ends -->

                    <div class="item stats-carousel-item hero-caps  text-center">
                        <h1 class="white">Nohemi</h1>
                    </div>
                    <!-- item:ends -->

                </div>
                <!-- carousel:ends -->

            </div>
            <!-- valign:ends -->

            <a class="scroll" href="#about">
                <div class="mouse-icon white hidden-xs" style="opacity: 1;">
                    <div class="wheel"></div>
                </div>
            </a>
        </section>

        <!-- masthead-section (this nav bar is initially hidden but will be visible only on inner pages) : starts -->
        <header id="standard-header" class="standard-header">

            <div class="container">
                <div class="row">
                    <article class="col-md-3 text-left">
                        <img alt="odin" title="A&N" class="main-logo img-responsive" src="~/images/logo-dark.png" />
                    </article>
                    <article class="col-md-9 text-right">
                        <ul class="standard-nav standard-nav-dark-text visible-lg">
                            <li><a href="#intro" class="scroll highlighted" id="intro-linker">Inicio</a></li>
                            <li><a href="#timer" class="scroll" id="about-linker">Contador</a></li>
                            <li><a href="#about" class="scroll" id="services-linker">Nosotros</a></li>
                            <li><a href="#location" class="scroll" id="portfolio-linker">Ubicaciones</a></li>
                            <li><a href="#team" class="scroll" id="team-linker">Cortejo</a></li>
                            @if (ViewBag.Guests != null)
                            {
                                <li><a href="#news" id="news-linker">Invitados</a></li>    
                            }
                        </ul>
                    </article>
                </div>
            </div>

        </header>
        <!-- masthead-section:ends -->
        @RenderBody()

        <!-- inner-section:starts -->
        <footer>
            <section class="inner-section foot-top trans-dark">
                <div class="container">
                    @*<div class="row">
                        <article class="col-md-12 text-center">
                            <ul class="foot-social">
                                <li><a href="#"><img data-no-retina alt="odin" title="odin" src="~/images/social/01.png"></a></li>
                                <li><a href="#"><img data-no-retina alt="odin" title="odin" src="~/images/social/02.png"></a></li>
                                <li><a href="#"><img data-no-retina alt="odin" title="odin" src="~/images/social/03.png"></a></li>
                                <li><a href="#"><img data-no-retina alt="odin" title="odin" src="~/images/social/04.png"></a></li>
                            </ul>
                        </article>
                    </div>*@
                    <div class="row">
                        <article class="col-md-12 text-center foot-logos">
                            <p class="credits white">Designed by Anton Bronnfjell. Copyright &copy; 2022</p>
                        </article>
                    </div>
                </div>
            </section>
        <!-- inner-section:ends -->
        </footer>

    </section>
    <!-- Master Wrap : ends -->
    <!-- Core JS Libraries -->
    <script src="~/javascripts/libs/common.js"></script>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <!-- JS Custom Codes -->
    <script src="~/javascripts/custom/countdown.js"></script>
    <script src="~/javascripts/custom/custom-init.js"></script>
    <script src="~/javascripts/custom/main.js"></script>

    <script>
    $.backstretch([
    "/images/wedding/banner.png"], {duration: 3000, fade: 750});
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>